        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgb(39, 138, 177);
        }
        .card {
            width: 250px;
            text-align: center;
            background: whitesmoke;
            border-radius: 12px;
            padding: 20px;
            box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
            transition: transform 0.3 ease;
        }
        .card:hover{
            transform: translateY(-10px);
        }
        .card img{
            width: 120px;
            height: 120px;
            border-radius: 50px;
            object-fit: cover;
        }
        .card p{
            margin-top: 15px;
            color: rgb(19, 19, 19);
            line-height: 1.4;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transform: opacity 0.3s ease, max-height 0.3 ease;
        }
        .card:hover p{
            opacity: 1;
            max-height: 100px;
        }